:root {
  //NOTE - Colors
  --base: hsl(35, 27%, 91%);
  --variant: hsl(352, 10%, 71%);
  --white: hsl(0, 0%, 100%);
  --dark: hsl(45, 4%, 20%);
  --black: hsl(0, 0%, 0%);
  --sky: hsl(211, 55%, 87%);

  //NOTE - Typography
  --ff-manrope: "Manrope", sans-serif;

  --fs-1: calc(2.7rem + 1.38vw);
  --fs-2: calc(2.6rem + 0.66vw);
  --fs-3: calc(2.6rem + 0.24vw);
  --fs-4: 1.9rem;
  --fs-5: 1.8rem;
  --fs-6: 1.7rem;
  --fs-7: 1.5rem;
  --fs-8: 1.4rem;

  --fw-700: 700;
  --fw-500: 500;

  //NOTE - Spacing
  --section-padding: 90px;
  --section-padding-45: 45px;

  //NOTE - Shadow
  --shadow-1: 0 0 20px hsla(216, 14%, 14%, 0.05);
  --shadow-2: 0 4px 28px hsla(216, 14%, 14%, 0.07);

  //NOTE - Border-radius
  --radius-circle: 50%;
  --radius-pill: 100px;
  --radius-8: 8px;
  --radius-6: 6px;

  //NOTE - Transition
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 0.3s ease-in-out;
}
