@use "../utilities/functions" as *;
.btn {
  background-color: var(--white);
  font-size: rem(16px);
  font-weight: var(--fw-700);
  border: 1px solid var(--black);
  box-shadow: 2px 2px 0 0 var(--dark);
  max-width: max-content;
  padding: 12px 28px;
  border-radius: rem(8px);
  transition: var(--transition-1);
  will-change: transform;
}

.btn:hover,
.btn:focus-visible {
  box-shadow: none;
}

// .btn-primary:hover,
// .btn-primary:focus-visible,
// .btn-secondary:hover,
// .btn-secondary:focus-visible {
// }
