@use "../utilities/functions" as *;
.about {
  padding-block: 0 var(--section-padding);

  &__content {
    padding-block-end: rem(20px);
    text-align: center;
    @media (min-width: 768px) {
      text-align: left;
    }
  }
  &__banner {
    border: 1px solid var(--black);
    box-shadow: 2px 2px 0 0 var(--dark);
    border-radius: rem(8px);
    overflow: hidden;
  }

  .container {
    display: grid;

    @media (min-width: 768px) {
      grid-template-columns: 2fr 1fr;
      align-items: center;
      gap: rem(40px);
    }
  }

  .cut-out {
    @media (min-width: 768px) {
      display: none;
    }
  }
}
